:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --bg-color-1: #2f303a;
  --bg-color-2: #f5f4fa;
  --icon-first-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER------------------ */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header-connect {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.header-contacts:nth-of-type(1) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  align-items: center;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts:hover .social-icon,
.header-contacts:focus .social-icon {
  fill: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-right: 30px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:last-child {
  margin-right: 0;
}
.social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  align-self: center;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------TITLE----- */

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
  width: 696px;
  height: 120px;
  left: 452px;
}
.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.main-title {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title-btn {
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 40px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

button:active,
button:hover {
  cursor: pointer;
}

/* -----------MAIN------------ */

.points {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.points-list {
  display: flex;
  flex-direction: row;
}

.points-item {
  margin-right: 30px;
  width: 270px;
}

.points-item:last-child {
  margin-right: 0;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.benefits-list {
  display: flex;
  margin-bottom: 30px;
}

.benefits-item {
  width: 270px;
  height: 120px;
  margin-right: 30px;
}

.benefits-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-2);
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  padding-bottom: 94px;
}
.main-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.products-list {
  display: flex;
}

.products-item {
  margin-right: 30px;
  position: relative;
}

.products-item:last-child {
  margin-right: 0;
}

.products-bottom {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  top: 224px;
  left: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.team-list {
  display: flex;
}

.team-member {
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team-member:last-child {
  margin-right: 0;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--bg-color-2);
}
.team-under {
  padding: 30px 0 30px 0;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
  text-align: center;
}

.main-social-list {
  display: flex;
  justify-content: center;
}
.main-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-social-item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-social-link:hover,
.main-social-link:focus {
  background-color: var(--accent-color);
}
.main-social-link:hover .main-social-icon,
.main-social-link:focus .main-social-icon {
  fill: var(--third-text-color);
}

.main-social-icon {
  fill: var(--icon-first-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-text-color);
  border: 1px solid var(--icon-first-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 200ms linear, border 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: var(--icon-first-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------FOOTER------------ */
.footer-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.container-1 {
  width: 500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: var(--bg-color-1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.item {
  margin-top: 9px;
}
.item-1 {
  margin-top: 9px;
}

.contact-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}

.contact-tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}
.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.footer-social-list {
  display: flex;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--third-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--third-text-color);
}

.footer-social-item:last-child {
  margin-right: 0;
}
.container-2 {
  width: 570px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.subscribe-form {
  display: flex;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  letter-spacing: 0.03em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
}
.form-input::placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
}
.form-input:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 200ms, visibility 200ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.5);
}
.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 200ms;
  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close:hover,
.modal-close:focus {
  background-color: #fff;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--accent-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}
.modal-text:hover,
.modal-text:focus {
  border: 1px solid var(--accent-color);
}

.form-top {
  font-family: Roboto;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
  margin-bottom: 4px;
}

.modal-check {
  position: absolute;
  top: 437px;
  left: 76.38px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.modal-check-text {
  font-size: 14px;
  color: #757575;
  display: flex;
}
.modal-check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  display: block;
  border-radius: 2px;
}

.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/icon\ check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.checkbox-link {
  color: #2196f3;
}
.modal-btn {
  position: absolute;
  top: 491px;
  left: 164px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  border: none;
}
.modal-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

textarea {
  resize: none;
  padding: 12px 16px;
}

.modal-text::placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-field {
  margin-bottom: 10px;
  position: relative;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 */

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --first-button-color: #f5f4fa;
  --second-button-color: #2196f3;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --icon-first-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER------------------ */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header-connect-1 {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.header-contacts:nth-of-type(1) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-contacts:hover,
.header-contacts :focus {
  color: var(--accent-color);
}
.header-contacts:hover .social-icon,
.header-contacts :focus .social-icon {
  fill: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-right: 30px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:last-child {
  margin-right: 0;
}
.social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------MAIN------------ */
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-kinds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}
.kinds-list {
  display: flex;
}

.kinds-btn {
  background-color: var(--first-button-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 200ms linear, background-color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kinds-btn:hover,
.kinds-btn:active,
.kinds-btn:focus {
  color: var(--third-text-color);
}

.main-photo {
  display: flex;
  justify-content: space-between;
}

.products-list-1 {
  display: flex;
  flex-wrap: wrap;
}

.products-item-1:nth-of-type(3n) {
  margin-right: 0;
}

.products-item-1:nth-of-type(3n + 1) {
  margin-left: 0;
}

.products-item-1:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.products-item-1 {
  margin: 0 13px 28px 13px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #ececec;
  transition: background-color 200ms linear, box-shadow 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item-1:hover,
.products-item-1:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-item-1:hover .products-top {
  transform: translateY(0);
}
button:active,
button:hover,
button:focus {
  cursor: pointer;
  background: var(--second-button-color);
}

.products-wrap {
  position: relative;
  overflow: hidden;
}

.products-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 200ms;
}

.photo-text {
  padding: 20px 24px 20px 24px;
  width: 370px;
}

.title-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.pre-title-1 {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 4px;
}

/* ----------FOOTER------------ */
footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.container-1 {
  width: 500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-adress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.item {
  margin-top: 9px;
}
.item-1 {
  margin-top: 9px;
}

.contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}

.contact-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}
.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.footer-social-list {
  display: flex;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--third-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--third-text-color);
}

.footer-social-item:last-child {
  margin-right: 0;
}

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --first-button-color: #f5f4fa;
  --second-button-color: #2196f3;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --icon-first-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER------------------ */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header-connect-1 {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.header-contacts:nth-of-type(1) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -32px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-contacts:hover,
.header-contacts :focus {
  color: var(--accent-color);
}
.header-contacts:hover .social-icon,
.header-contacts :focus .social-icon {
  fill: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-right: 30px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts:last-child {
  margin-right: 0;
}
.social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------MAIN------------ */
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-kinds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}
.kinds-list {
  display: flex;
}

.kinds-btn {
  background-color: var(--first-button-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 200ms linear, background-color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kinds-btn:hover,
.kinds-btn:active,
.kinds-btn:focus {
  color: var(--third-text-color);
}

.main-photo {
  display: flex;
  justify-content: space-between;
}

.products-list-1 {
  display: flex;
  flex-wrap: wrap;
}

.products-item-1:nth-of-type(3n) {
  margin-right: 0;
}

.products-item-1:nth-of-type(3n + 1) {
  margin-left: 0;
}

.products-item-1:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.products-item-1 {
  margin: 0 13px 28px 13px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #ececec;
  transition: background-color 200ms linear, box-shadow 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item-1:hover,
.products-item-1:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-item-1:hover .products-top {
  transform: translateY(0);
}
button:active,
button:hover,
button:focus {
  cursor: pointer;
  background: var(--second-button-color);
}

.products-wrap {
  position: relative;
  overflow: hidden;
}

.products-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 200ms;
}

.photo-text {
  padding: 20px 24px 20px 24px;
  width: 370px;
}

.title-1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.pre-title-1 {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 4px;
}

/* ----------FOOTER------------ */
footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.container-1 {
  width: 500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-adress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.item {
  margin-top: 9px;
}
.item-1 {
  margin-top: 9px;
}

.contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}

.contact-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}
.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.footer-social-list {
  display: flex;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--third-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--third-text-color);
}

.footer-social-item:last-child {
  margin-right: 0;
}

.container-2 {
  width: 570px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.subscribe-form {
  display: flex;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 4px;
  letter-spacing: 0.03em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.form-input {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
}

.form-input:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
}
