.main {
  padding-top: 94px;
  padding-bottom: 94px;

  &-kinds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
  }
  &-photo {
    display: flex;
    justify-content: space-between;
  }
}

.kinds-list {
  display: flex;
}
