.products {
  padding-bottom: 94px;
}
.main-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.products-list {
  display: flex;
}

.products-item {
  margin-right: 30px;
  position: relative;
}

.products-item:last-child {
  margin-right: 0;
}

