.products {
  padding-bottom: 94px;
  &-list {
    display: flex;
  }

  &-item {
    margin-right: 30px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
}
.main-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
